sdk/purview/purview-workflow-rest/recordings/browsers/get_a_workflow/recording_should_get_a_workflow.json
{
  "Entries": [
    {
      "RequestUri": "https://endpoint/workflow/workflows/e3467b48-a9d8-11ed-afa1-0242ac120002?api-version=2022-05-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Accept": "application/json",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "en-US",
        "Authorization": "Sanitized",
        "Connection": "keep-alive",
        "Referer": "http://localhost:9876/",
        "sec-ch-ua": "",
        "sec-ch-ua-mobile": "?0",
        "sec-ch-ua-platform": "",
        "Sec-Fetch-Dest": "empty",
        "Sec-Fetch-Mode": "cors",
        "Sec-Fetch-Site": "same-site",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) HeadlessChrome/110.0.5478.0 Safari/537.36",
        "x-ms-client-request-id": "9a2738e9-240d-47ab-a8fc-a64167874021",
        "x-ms-useragent": "azsdk-js-purview-workflow-rest/1.0.0-beta.1 core-rest-pipeline/1.10.1 OS/Win32"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Length": "1789",
        "Content-Type": "application/json",
        "Date": "Sat, 11 Feb 2023 07:20:30 GMT",
        "Server": "MicrosoftPurview",
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "x-ms-client-request-id": "9a2738e9-240d-47ab-a8fc-a64167874021",
        "x-ms-correlation-request-id": "f7e29824-a29a-4284-8f7f-bd419a89c597",
        "x-ms-request-id": "3b32b171-e5bd-411f-a13a-8edc0df6575d"
      },
      "ResponseBody": {
        "id": "e3467b48-a9d8-11ed-afa1-0242ac120002",
        "triggers": [
          {
            "type": "when_term_creation_is_requested",
            "underGlossaryHierarchy": "/glossaries/5dae5e5b-5aa6-48f1-9e46-26fe7328de71"
          }
        ],
        "createdTime": "2023-02-11T07:20:17.195754387Z",
        "createdBy": "83ffc40f-f670-49b0-a17e-30c7f74f209a",
        "lastUpdateTime": "2023-02-11T07:20:29.536619531Z",
        "updatedBy": "83ffc40f-f670-49b0-a17e-30c7f74f209a",
        "name": "Create glossary term workflow",
        "isEnabled": true,
        "description": "",
        "actionDag": {
          "actions": {
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs(\u0027Start and wait for an approval\u0027)[\u0027body/outcome\u0027]",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Create glossary term": {
                  "type": "CreateTerm",
                  "runAfter": {}
                },
                "Send email notification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "Glossary Term Create - APPROVED",
                      "emailMessage": "Your request for Glossary Term @{triggerBody()[\u0027request\u0027][\u0027term\u0027][\u0027name\u0027]} is approved.",
                      "emailRecipients": [
                        "@{triggerBody()[\u0027request\u0027][\u0027requestor\u0027]}"
                      ]
                    }
                  },
                  "runAfter": {
                    "Create glossary term": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "secureInput": false,
                    "secureOutput": false
                  }
                }
              },
              "else": {
                "actions": {
                  "Send reject email notification": {
                    "type": "EmailNotification",
                    "inputs": {
                      "parameters": {
                        "emailSubject": "Glossary Term Create - REJECTED",
                        "emailMessage": "Your request for Glossary Term @{triggerBody()[\u0027request\u0027][\u0027term\u0027][\u0027name\u0027]} is rejected.",
                        "emailRecipients": [
                          "@{triggerBody()[\u0027request\u0027][\u0027requestor\u0027]}"
                        ]
                      }
                    },
                    "runAfter": {},
                    "runtimeConfiguration": {
                      "secureInput": false,
                      "secureOutput": false
                    }
                  }
                }
              },
              "runAfter": {
                "Start and wait for an approval": [
                  "Succeeded"
                ]
              }
            },
            "Start and wait for an approval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "Approval Request for Create Glossary Term",
                  "assignedTo": [
                    "83ffc40f-f670-49b0-a17e-30c7f74f209a"
                  ]
                }
              },
              "runAfter": {}
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
